* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ************************** */
/* *** | Section styles | *** */
/* ************************** */

html { 
    background-color: #E0E1DD;
    font-family: "Roboto";
    font-weight: 300;
}

header { 
    background-color: #0D1B2A;
    margin-bottom: 2rem;

    text-align: center;
}

h1 { 
    color: whitesmoke;
    padding: 1rem;

    font-family: "Righteous";  
    font-style: italic;
    font-size: 3rem;
}

.root { 
    height: 100vh;
    background-color: #E0E1DD;
}

.container { 
    display: flex;
    justify-content: center;
    align-content: center;

    flex-flow: column;
    row-gap: 2rem;

    align-items: center;
}

.composed-section { 
    display: flex;
    flex-flow: column;
    row-gap: 1em;
}

/* **************************** */
/* *** | Component Styles | *** */
/* **************************** */

.section-namebar { 
    margin: 0.5em;
    padding: 0.5em;

    background-color: #0D1B2A;
    color: white;

    font-family:'Roboto';

    display: flex;
    column-gap: 1em;

    border-radius: 5px;
}

.namebar-field-button { 
    background-color: red;
}

.add-info-multiple { 
    width: fit-content;
    padding: 0.5em;
}

.image-holder { 
    border: 4px #000 solid;
    height: 25rem;
}

.composed-section { 
    padding: 2rem;
    background-color: whitesmoke;

    border: 5px solid #1B263B;
    outline-offset: 1px;
    outline: 5px solid #415A77;

    width: 55%;

    border-radius: 10px;
}

.multiple-display  {
    display: flex; 
    flex-flow: column;
    row-gap: 1em ;
}

.over-view  {
    display: flex; 
    flex-flow: column;
    row-gap: 0.5em;


}

.over-view-element { 
    padding-bottom: 0.3em;
    border-bottom: solid 3px #000;
    border-radius: 5px;
}

footer { 
    background-color: #0D1B2A;
    text-align: center;

    margin-top: 2rem;
}

footer p { 
    color: whitesmoke;
    padding: 1rem;

    font-family: "Righteous";  
    font-style: italic;
    letter-spacing: .11em;
    font-weight: 700;
}
